* {
    margin: 0;
}

html {
    background-color: #edffce;
}

header {
    border-bottom: 4px solid black;
    width: 100%;
    height: 100px;
}

main {
    display: flex;
}

.left {
    margin-top: 4px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    width: 50%;
    height: 550px;
}

.left article {
    margin: auto;
    margin-top: 50px;
    background-image: linear-gradient(yellow, #cc7606);
    max-width: 350px;
    height: 350px;
    border: 1px outset #cc7606;
    border-radius: 50%;
    shape-outside: circle(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left article span {
    font-size: xx-large;
}

.right {
    margin-top: 4px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    width: 50%;
    height: 550px;
    margin-left: 4px;
}

.right div {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right div h1 {
    margin-bottom: 20px;
}

#form {
    width: 100%;
}

#form input, #submit {
    width: 100%;
    margin: 4px;
    border: 3px outset #cc7606;
}

#userName, #title, #submit {
    line-height: 30px;
}

#content {
    line-height: 100px;
}

#submit {
    background-image: linear-gradient(to right, #cc7606, yellow);
}

footer {
    border-top: 4px solid black;
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin: 10px;
    text-shadow: 1px 1px #cc7606;
    text-align: center;
}

footer a {
    margin-bottom: 10px;
    width: 100%;
    color: #cc7606;
    text-align: center;
}

@media screen and (max-width: 735px) {
    .left article {
        max-width: 250px;
        height: 250px;
    }    
}

@media screen and (max-width: 500px) {
    .left article {
        max-width: 200px;
        height: 200px;
    }

    .left article span {
        font-size: medium;
    }
}