* {
    margin: 0;
}

html {
    background-color: #edffce;
}

header {
    border-bottom: 4px solid black;
    width: 100%;
    height: 100px;
}

main {
    display: flex;
}

.left {
    margin-top: 4px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    width: 50%;
    height: 796px;
}

.left article {
    margin: auto;
    margin-top: 50px;
    background-image: linear-gradient(yellow, #cc7606);
    width: 70%;
    height: 40%;
    border: 1px solid yellow;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*     background-image: linear-gradient(yellow, #2e1dcd);
 */

.left article span {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right {
    margin-top: 4px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    width: 50%;
    height: 796px;
    margin-left: 4px;
}

.right div {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right div h1 {
    margin-bottom: 20px;
}

#form {
    width: 100%;
}

#form input, #submit {
    width: 100%;
    margin: 4px;
}

#userName, #title, #submit {
    line-height: 30px;
}

#content {
    line-height: 100px;
}

#submit {
    background-image: linear-gradient(to right, #cc7606, yellow);
}