.light {
    background-color: #edffce;
}

.dark {
    background-color: #243447;
}

.light header {
    border-bottom: 4px solid black;
}

.dark header {
    border-bottom: 4px solid white;   
}

.light header span {
    color: #cc7606;
}

.dark header span {
    color: #bedef8;
}

.light main .left {
    border-top: 4px solid black;
    border-right: 4px solid black;
}

.dark main .left {
    border-top: 4px solid white;
    border-right: 4px solid white;
}

.light .page2 {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.dark .page2 {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.light main .left article {
    background-image: linear-gradient(yellow, #cc7606);
    border: 1px outset #cc7606;
}

.dark main .left article {
    background-image: linear-gradient(white, #bedef8, #5656ee);
    border: 1px outset #5656ee;
}
.light main .right {
    border-top: 4px solid black;
    border-left: 4px solid black;
    color: black;
}

.dark main .right {
    border-top: 4px solid white;
    border-left: 4px solid white;
    color: white;
}

.light main .right div form input,
.light main .right div form textarea {
    border: 3px outset #cc7606;
}

.dark main .right div form input,
.dark main .right div form textarea {
    border: 3px outset #5656ee;
}

.light main .right div form button {
    border: 3px outset #cc7606;
    background-image: linear-gradient(to right, #cc7606, yellow);
}

.dark main .right div form button {
    border: 3px outset #5656ee;
    background-image: linear-gradient(to right, white, #bedef8, #5656ee);
}

.light main .right .message {
    background-image: linear-gradient(to right, #cc7606, yellow);
}

.dark main .right .message {
    background-image: linear-gradient(to right, white, #bedef8, #5656ee);    
}

.light main .boxes {
    border: 3px outset #cc7606;
    color: black;
}

.dark main .boxes {
    border: 3px outset #5656ee;
    color: white;
}

.light main .boxes h2 {
    border-bottom: 2px outset #cc7606;
}

.dark main .boxes h2 {
    border-bottom: 2px outset #5656ee;
}

.light footer {
    border-top: 4px solid black;
    color: black;
}

.dark footer {
    border-top: 4px solid white;
    color: white;
}

.light footer h3 {
    text-shadow: 1px 1px #cc7606;
}

.dark footer h3 {
    text-shadow: 1px 1px #5656ee;
}

.light footer a {
    color: #cc7606;
}

.dark footer a {
    color: #bedef8;
}
